<h3>Below is your shortened URL:</h3>
<input type="text" value={{shortUrl}} id="shortUrl" title="Copy the URL">

<div class="d-flex">
  <button class="btn btn-outline-success" onclick="click()">Copy URL</button>
  <a href="/" class="btn btn-outline-secondary" onclick="click()">Get another URL</a>
</div>