<h3>Below is your shortened URL:</h3>
<input type="text" value={{shortUrl}} id="shortUrl" title="Copy the URL">

<div class="d-flex">
  <button class="copy btn btn-outline-success">Copy URL</button>
  <a href="/" class="btn btn-outline-secondary">Get another URL</a>
</div>